*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

hr.line{
    margin: 0px;
    padding-top: 5px;
    color: rgb(96, 96, 96);
}

.container-nav{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    box-sizing: border-box;
    margin-right: 30px;
}

.container-nav>div{
    border: 1px solid black;
    text-align: right;
    display: inline-flex;
    padding: 10px;
    align-items: center;
}

.logo{
    width: 60px;
    height: 50px;
    width: fit-content;
    margin-right: auto;
}

.Home{
    border-radius: 5px 0 0 5px;
}

.Callus{
    border-radius: 0 5px 5px 0;
}

h1{
    text-align: center;
    padding-top: 20px;
}

.subtitle{
    text-align: center;
    padding-top: 50px;
    color: rgb(142, 142, 142);
}

.container-main{
    display: flex;
    margin: 80px;
    margin-top: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.main-paragraph{
    padding: 10px;
    flex: 1;
    background-color: azure;
    margin-right: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.slider{
    border-radius: 20px;
    border: 1px solid black;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

.contactus {
    margin-left: 30px;
    padding: 10px;
    flex: 1;
    background-color: rgb(12, 12, 61);
}


.contactus>h3{
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label{
    color: aliceblue;
    display: flex;
    padding: 10px;
}

form select{
    margin-left: 15px;
    margin-bottom: 50px;
}

#package{
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.destination-1{
    margin: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.destination-1>div {
    margin: 20px;
    display: flex;
    width: calc(33.33% - 40px);
    flex-direction: column;
}

.destination-1 p {
    flex-grow: 1;
    max-height: 100px;
    overflow-y: auto ;
}

.closing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.closing h1{
    margin-bottom: 20px;
}

.callbutton{
    padding: 20px;
    border-radius: 30px;
    background-color: blue;
    margin-top: 30px;
    margin-bottom: 50px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logofooter{
    width: 60px;
    height: 50px;
    width: fit-content;
    margin-bottom: 15px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container-main {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .main-paragraph {
      margin-right: 0;
    }
  
    .contactus {
        width: 100%;
        max-width: 300px;
    }

    .destination-1 {
      flex-wrap: wrap;
    }
  }

.main-paragraph img{
    max-width: 100%;
    height: auto;
}
